<!-- START TOPPER -->
<div id="topper">
  <div id="finder">
    <h3>EAST TENNESSEE STATE UNIVERSITY</h3>

    <h1>INSTITUTIONAL REVIEW BOARD</h1>
  </div>
</div>
<!-- END TOPPER -->
<!-- START COLS -->
<div id="cols" class="clear">
  <!-- START MAIN -->
  <div id="main">
    <div class="container">
      <p>Thank you for taking part in this survey! Your answers will help us make the world a better place.</p>
    </div>
  </div>
</div>